<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administrador de Atenciones</title>
<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container">
	<div class="row">
		<h1>Lista de Atenciones</h1>
	</div>
	
	<div class="row">
	<div class="col-lg-3">
		<a th:href="@{/atenciones/nuevo}" class="btn btn-primary btn-sm mb-3">Agregar Atención</a>
	</div>
	</div>
	
	<table class="table table-striped table-bordered">
	<thead class="table-dark">
	<tr> 
		<th> Turno </th>
		<th> Cliente</th>
		<th> Tipo Atención</th>
		<th> Fecha</th>
		<th>Acciones</th>		
	</tr>
	</thead>
	
	<tbody>
	<tr th:each="atencion: ${atenciones}">
		<td th:text="${atencion.turno.getNombre()}"> </td> 
		<td th:text="${atencion.cliente.getNombre()}"> </td> 
		<td th:text="${atencion.tipoAtencion.getNombre()}"> </td>
		<td th:text="${atencion.fechaCreacion}"> </td>
		<td>
			<a th:href="@{/atenciones/editar/{id}(id=${atencion.id})}" 
			class="btn btn-primary btn-sm">Actualizar </a>
			 
			<a th:href="@{/atenciones/{id}(id=${atencion.id})}" 
			class="btn btn-danger btn-sm">Borrar </a> 
		</td>
	</tr>
	</tbody>
	
	</table>
	
</div>
</body>
</html>