<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Administrador de Clientes</title>
<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/navbar"></div>
	<div class="container">
	<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 container justifyu-content-center card">
	<h1 class="text-center">Crear nuevo Cliente</h1>
	<div class="card-body">
	<form th:action="@{/clientes}" th:object="${cliente}" method="POST">
		<div class="form-group">
		<label>Nombre</label>
		<input 
		type="text"
		name="nombre"
		th:field="*{nombre}"
		class="form-control"
		placeholder="Ingresar Nombre"		
		/> 		
		</div>
		<div class="form-group">
		<label>Apellido Paterno</label>
		<input 
		type="text"
		name="apellidoPaterno"
		th:field="*{apellidoPaterno}"
		class="form-control"
		placeholder="Ingresar Apellido Paterno"		
		/> 
		</div>		
		<div class="form-group">
		<label>Apellido Materno</label>
		<input 
		type="text"
		name="apellidoMaterno"
		th:field="*{apellidoMaterno}"
		class="form-control"
		placeholder="Ingresar Apellido Materno"		
		/> 		
		</div>		
		<div class="form-group">
		<label>Email</label>
		<input 
		type="text"
		name="email"
		th:field="*{email}"
		class="form-control"
		placeholder="Ingresar Email"		
		/>
		</div> 		
		<div class="form-group">
		<label>Rut</label>
		<input 
		type="text"
		name="rut"
		th:field="*{rut}"
		class="form-control"
		placeholder="Ingresar Rut"		
		/> 		
		</div>					
		<div class="box-footer">
		<button type="submit" class="btn btn-primary">
		Enviar
		</button>
		</div>
				
	</form>
	</div>
	</div> 
	</div> 
	</div>
</body>
</html>